fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
typing-extensions
requests
aiofiles
Pillow
opencv-python-headless==4.9.0.80
numpy<2.0.0
torch==2.2.2
transformers==4.41.2
open_clip_torch
timm
chromadb
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
google-generativeai
google-genai
pypdf
slowapi
limits
soundfile
ffmpeg-python
tqdm
scikit-learn
uvloop